<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>🔥 Members Only 🔥</title>
	<link rel="stylesheet" href="/styles.css">
	<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>
	<div class="background"></div>

	<header>
		<h1 class="neon-text">MEMBERS ONLY</h1>
		<nav>
			<a class="btn" href="/members">Members Area</a>
			<a class="btn" href="/logout">Logout</a>
		</nav>
	</header>

	<main>
		<div class="content">
			<h2 class="glow-text">Welcome Back! <%= currentUser.first_name %>
					<%= currentUser.last_name %>
			</h2>
			<p class="glow-text"></p>
		</div>
	</main>

	<footer>
		<p>&copy; 2025 Members Only. All rights reserved.</p>
	</footer>
</body>

</html>